/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 3, 2019, 12:32:51 PM
    Author     : ajithkumars
*/


/*Media queries small devices*/
/*-------------------------*/

@media only screen and (max-width: 479px){
    /*Home Page*/
    /*---------*/
    .dg-about{
        padding-top: 2rem;
        padding-bottom: 2rem;
        p{
            font-size: 16px;
        }
    }
    .dg-itseasy{
        padding-bottom: 2rem;
        .col-sm{
            margin-bottom: 2rem;
        }
        .col-3{
            img{
                width: 80px;
            }
        }
    }
    .dg-showgrid{
        .col-sm-2{
            text-align: center;
            margin-bottom: 1rem
        }
        .btn{
            margin-top: 1rem;
        }
    }
    .dg-slider{
        img{
            margin-bottom: 1rem;
        }
    }
    .dg-youcan{
        .col-sm-2{
            text-align: center;
            margin-bottom: 2rem;
        }
        ul{
            font-size: 16px;
        }
    }
    .dg-footer{
        font-size: 14px;
        ul{
            margin-top: 2rem;
        }
    }
    .dg-search{
        .form-control{
            margin-bottom: 1rem;
        }
    }
    /*Search Postings*/
    /*--------------*/
    .service-select {
        margin: 1rem 0 0;
    }
    /*Member dashboard*/
    /*--------------*/
    .db-welcome{
        .title{
            font-size: 18px;
        }
        .content{
            font-size: 14px;
        }
    }
    .db-pagehead{
        font-size: 16px;
        a{
            font-size: 14px;
        }
    }
    .db-ctas{margin-bottom: 4rem;}
    /*Login screen*/
    /*------------*/
    .login-wrapper{
        .card{
            border: 5px solid #ddd;
            .card-body{
                padding: 1rem;
            }
        }
    }
}