
$body-bg: #ffffff;

// Typography
$font-family-sans-serif: "Open Sans", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.4;
$enable-responsive-font-sizes: true;
$text-color: #454b60;
$text-disabled: rgba(35,37,49,0.4); // Disabled
$text-light: #878a8c;// old
$line-height-base: 1.5;
$grid-gutter-width: 16px !default;

$brand-success: #00d49c;
$brand-info: #3ea8ed;
// Borders //
/*-----------*/
$border-gray: #ebeaea;
$border-gray-light: #e7edf3;
$border-light: #e9e9ed;
$input-border-color: $border-gray-light !default;

$theme-colors: (
"primary": #db4c26,
"secondary": #838aa0,
"danger": #ff4136,
"info": #402666,
"success": #00d49c,
"green": #00d49c
);
$alert-success-bg: $brand-success !default;
$alert-success-text: white !default;



/* Device = Most of the Smartphones Mobiles (Portrait) */
$screen-xxs-min: 320px;
$screen-xxs-max: 480px;

/* Device = Low Resolution Tablets, Mobiles (Landscape) */
$screen-xs-min: 481px;
$screen-xs-max: 767px;

/* Device = Tablets, Ipads (portrait) */
$screen-sm-min: 768px;
$screen-sm-max: 1024px;

/* Device = Laptops, Desktops */
$screen-md-min: 1025px;
$screen-md-max: 1280px;

/* Device = Desktops */
$screen-lg-min: 1281px;
$screen-lg-max: 1440px;

/* Higher Resolution Screens */
$screen-xlg-min: 1441px;
$screen-xlg-max: 2560px;

$font-weight-thin:          100;
$font-weight-exlight:       200;
$font-weight-light:         300;
$font-weight-regular:       400;
$font-weight-medium:        500;
$font-weight-semibold:      600;
$font-weight-bold:          700;
$font-weight-exbold:        800;
$font-weight-black:         900;