@import "fonts";
@import "variables";
@import "mobile";

body {
    background: #fff;
    webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    min-height: 100%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 14px;
    color: #454b60;
    width:100%;
}
.f-white{
    color: white;
}
.fw-600{
    font-weight: 600;
}
.fw-bold{
    font-weight: bold;
}
.no-margin{
    margin: 0 !important;
}
.f-light{
    color: #828181;
}
.f-10{
    font-size: 10px;
}
.f-12{
    font-size: 12px !important;
}
.f-14{
    font-size: 14px !important;
}
.f-15{
    font-size: 15px !important;
}
.f-16{
    font-size: 16px !important;
}
.f-18{
    font-size: 18px;
}
.f-20{
    font-size: 20px;
}
.h-100vh{
    min-height: 100vh
}
.btn{
    &:focus{
        box-shadow: none !important;
    }
}
.btn-shadow{
    box-shadow: 0px 17px 10px -10px rgba(0,0,0,0.4); 
    transition: all 0.3s ease 0s;
    &:hover{
        transform: translateY(-5px);
    }
}
.btn-pill{
    border-radius: 100px
}
.form-group{
    label{
        font-weight: 600;
    }
    .form-control{
        &:focus{
            box-shadow: none;
        }
    }
}
/*Home Page*/
/*--------*/
.dg-about{
    padding-top: 3rem;
    padding-bottom: 3rem;
    p{
        font-size: 20px;
    }
}
.dg-itseasy{
    padding-bottom: 5rem;
}
.dg-showgrid{
    .row{
        padding-bottom: 3rem;
    }
}
.dg-slider{
    padding-bottom: 3rem;
}
.dg-youcan{
    padding-bottom: 3rem;
    ul{
        font-size: 20px;
        li{
            display: inline-block;
        }
    }
}
.dg-footer{
    align-items: center;
    font-size: 16px;
    .col-sm-3{
        justify-content: center
    }
    ul{text-align: center;}
}

/*Search Postings*/
/*-------------*/
.service-select{
    margin: 4rem 3rem 1rem;
    .card-body{
        ul{
            margin: 0;
            margin-bottom: 1rem;
            li{
                font-weight: 600;
                line-height: 2.3;
                margin-right: 0;
                div{
                    padding: 0 8px;
                    box-shadow: 0 7px 35px rgba(0, 0, 0, 0.05); 
                }
            }
        }
    }
}

/*Member dashboard*/
/*--------------*/
.db-welcome{
    padding: 18px;
    background: url('../images/dashboard/sky_wide-min.jpg');
    background-position: bottom;
    background-size: 100%;
    background-repeat: no-repeat;
    //img{
    //    width: 120px;
    //}
    .title{
        font-weight: 600;
    }
    .content{
        font-size: 18px;
    }
}
.db-pagehead{
    font-size: 18px;
    font-weight: 600;
    a{
        font-size: 16px;
        text-decoration: underline;
        &:hover{
            color: white;
        }
    }
}
.db-ctas{margin-top: 2rem;}

/*Login screen*/
/*------------*/

.login-wrapper{
    background-image: url('../images/dashboard/sky_wide-min.jpg');
    background-position: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    padding: 0 12px;
    //width: 100%;
    .card{
        width: 380px;
        border: 7px solid #ddd;
        .card-body{
            padding: 2rem;
        }
      .loginButton{
        background-color: rgb(219, 76, 38);
      }
    }
    &.signup-page{
        background-image: url('../images/teach_guitar-bright1.jpg');
        background-attachment: fixed;
        padding: 4rem 12px;
    }
    &.signup-page2{
        background-image: url('../images/group-discussion.jpg');
        background-attachment: fixed;
        padding: 4rem 12px;
    }
  .messageIcon{
    padding: 6px 12px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    color: #555;
    text-align: center;
    background-color: #eee;
    border: 1px solid #ccc;
  }
  .doingGoodForgotPwd{
      color: rgb(32, 8, 119);
      font-size: 30px;
  }
  .forgotPasword{
    color: rgb(128, 128, 128);
    font-size: 24px;
  }
}
.confirmButton{
    background: rgb(64, 38, 102);
}
.confrimBackLogin{
    color: white;
    font-family: Gotham-Book;
}
.confirmVerify{
    font-size: 16px;
    color: rgb(64, 38, 102);
}

.highlight{
    border-color: red;
}

//@media (min-width: 486px) and (max-width:768px) {
//body{
//        min-width:486px;
//        max-width:768px
//    }
//}
//
//@media (min-width: 486px) and (max-width:768px) {
//    #app {
//        min-width:486px;
//        max-width:768px
//    }
//}
//
//@media (min-width: 768px) and (max-width: 992px) {
//    #app {
//        min-width:768px;
//        max-width:992px
//    }
//}
//
////@media (min-width: 992px) {
////    #app {
////        max-width:960px
////    }
////}
//
//@media (min-width: 992px) and (max-width: 1140px) {
//    #app {
//        max-width:1140px
//    }
//}


